*{
       
    margin:0;
    color:rgba(196, 196, 196, 1);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
}
body{
box-sizing: border-box;
background-color:rgba(0, 0, 0, 0.808);
display: flex;
justify-content: center;
}


#glow{
margin-top: -35px;
margin-left:-60px;
text-align: center;
-webkit-animation: glow 2s ease-in-out infinite alternate;
-moz-animation: glow 2s ease-in-out infinite alternate;
animation: glow 2s ease-in-out infinite alternate;
}
#group2{    
box-sizing:border-box;
display: block;
margin-left: -30px;

}
#logo{

margin-left:-60px;
padding-bottom: 10px;
padding-top:-30px;
height: 160px;

}
@keyframes glow{
    from{
        text-shadow:0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0BDFDF, 0 0 40px #0BDFDF;
    }
    to{
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6;
    }
}

input{
    height:30px;
    max-width: 220px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.50);
    border-style: none;
    margin-top: 20px;
}
input:focus{
    outline: none;
}
#login_button{
   
        color: rgba(11, 223, 223, 1);
        background-color:rgba(64, 62, 65, 0.178);
        border-style: none;
        font-size: 1.2rem;
        height:40px;
        
}
#signup{
    color: rgba(11, 223, 223, 1);
    font-size: 1.2rem;
}
p{
    text-align: center;
   
}
@media only screen and (min-width: 600px) {
    #group2{    
        height: 250px;
        margin-left:-200px;
        }

}
@media only screen and (min-width: 768px) {
    body{
        display:flex;
        justify-content: center;
        
    }
    #group2{    
        height: 200px;
        margin-left:-200px;
        }
        #logo{
            height: 300px;  
        }
        #glow{
            font-size: 2rem;
            display: inline;
            margin-left:-190px;
            
        }
        input{
            max-width: 100%;
            height: 45px;
            margin-top:30px; 
            font-size: x-large;
            margin-left: 60px; 
        }
        #signup{
                font-size: 2rem;
               
                
        }
        #login_button{
            font-size: 2rem;
            height: 40px;
        }
        p{
            font-size: 1.5rem;
            margin-top: 10px;
        }
}
@media only screen and (min-width: 992px) {
    #group2{    
        
        margin-left:-315px;
        }
        #logo{
            margin-top: -100px;  
        }
        p{
            
            margin-top: 20px;
            margin-left: 60px;
        }
}
@media only screen and (min-width: 1200px) {
    #group2{    
        
        margin-left:-415px;
        }
}
@media only screen and (min-width: 1200px) and (max-width: 2000px) {
    #group2{    
        
        margin-left:-525px;
        }
        #login_button{
          
           height: 50px;
        }
}

 