.profile-wrapper{
    color:rgb(190, 184, 184);
    width:100%
}

.avatar-camera{
    padding-top: 1em;
    margin-left: 20%;
}

#captured-avatar{
    width:100px;
    height:100px;
    border-radius: 50%;
    margin-left: 35%;
    margin-top: 1em;
}

.avatar-icons{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: right;
    margin-left:40%;
}

#retake-button{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 6px;
    background-color: teal;
    color:white;
    border:none;
}

.photo-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
}
.photo-tags{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-icon{
    width:70px;
    margin-top: -70px;
    margin-left: -15px;
}

.header-logo{
    width:70px;
}
.upload-photo-wrapper{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:90%;
    padding-top: 1%;
    margin-left: 5%;
}

.upload-placeholder{
    width:100%;
    object-fit: contain;
    margin-left: 0%;
}

.upload-field{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:80%;
    margin-left: 10%;
}
.upload-form{
    padding-left: 1%;

}
.upload-image{
    width:100%;
    object-fit: contain;
}
.upload-field-label,
.upload-button,
.webcam-btn,
.camera-upload-button{
    background-color:rgb(24, 23, 23) ;
    margin-left: 8%;
    margin-top: 0%;
    color: rgb(206, 249, 249);
    border-radius: 15px;
    width:88%;
    height:40px;
    text-align: center;
    font-size: 0.9em;
    padding-top: 5px;
    margin-bottom: 15px;
    border:none;
}
.upload-field-label{
    padding-top:5%;
    height: 35px;
    text-align: center;
    justify-content: center;
}
.camera-upload-button,
.webcam-btn{ 
    height: 40px;
    background-color: none;
    border: none;
    padding-top: 2px;  
    margin-left: 20%;
    width:70%;
}

.description-field,
.tags-field{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    margin-left: 8%;
}


.description-input,
.tags-input{
    width:100%;
    margin-left: 7%;
    height:40px;
}

.description-input{
    margin-top: 8%;
    margin-left:-1%;
    height:80px;
}
.tags-input{
    margin-top: 0px;
}


.camera-wrapper{
    margin-left: 5%;
}

.camera{
    margin-top:-10px
}
.captured-photo{
   width:100%;
   
}
.camera-description-input,
.camera-tags-input{
    margin-left: 20%;
    height: 40px;
    width:100%;
}
.camera-description-input{
    height:80px;
    margin-top: 5%;
}

